* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	padding: 20px;
	color: #333;
	background: #f9f9f9;
}
section {
	margin: 4rem auto;
}
section:not(.hero) {
	max-width: 1200px;
}

header {
	text-align: center;
	margin-bottom: 2rem;
}
.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    margin: -1px;
}
nav ul {
	list-style: none;
	display: flex;
	justify-content: end;
	gap: 1rem;
	margin-top: 1rem;
}

nav a {
	text-decoration: none;
	color: #6770e6;
	font-size: 1.75rem;
}

section.hero h1, section.hero p {
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
 	font-style: normal;
	font-size: 72px;
	text-align: center;
	text-shadow: -2px 0 #00ffff, 2px 0 #ff00ff;
	white-space: nowrap;
}
.green {
	color: #cdf568;
}
.orange {
	color: #f58e33;
}
.blue {
	color: #6770e6;
}
.pink {
	color: #fc65cb;
}
p.h2 {
	color: #fc65cb;
	font-size: 48px
}
.about-section {
	background-color:#cdf568b6;
	padding: 2rem 2rem 0;
	border-radius: 30px;
    display: flex;
    flex-direction: row;
}
.about-section .about-copy p {
	margin-bottom: 1rem;
}
.about-section .about-copy{
    width: 50%;
}
.about-section .about-img {
	width: 50%;
    position: relative;
}

.about-section .about-img img {
	width: 400px;
    position: absolute;
    bottom: 0
}
.card {
	display: none;
	background: #fff;
	padding: 1rem;
	border: 1px solid #ddd;
	margin-top: 1rem;
}

footer {
	text-align: center;
	font-size: 0.8rem;
	color: #777;
	margin-top: 3rem;
}
footer #contact .contact-links p, a {
	color: #f58e33;
	font-size: 18px;
}
.contact-callout {
	font-weight: bold;
    font-size: 24px;
    text-align: end;
    width: 50%;
    margin: 2rem 0 2rem auto;
}
